:root {
    --color-blue-dark: rgba(19, 25, 33, 1); /* third block of footer */
    --color-blue-med: rgba(36, 47, 62, 1); /* second block of footer */
    --color-blue-light: rgba(55, 70, 91, 1); /* first block of footer */
    --color-blue-text: rgba(34, 97, 161, 1);

    --color-yellow: rgba(255, 217, 22, 1);
    --color-yellow-2: rgba(255, 206, 21, 1);

    --color-gray: rgba(248, 248, 248, 1);
    --color-gray-text: rgba(87, 87, 87, 1);

    --color-green: rgba(10, 126, 97, 1);
}

html {
	box-sizing: border-box;
	font-size: 16px;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: sans-serif;
	line-height: 1.5;
	min-height: 100vh;
    background-color: var(--color-gray);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

.flex-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.header {
    background-color: var(--color-blue-dark);
    color: white;
    padding: 2rem 0;
}

.footer {
    background-color: var(--color-blue-dark);
    color: white;
    padding: 1rem 0;
}

.page-title {
    margin: 0;
}

.section-heading {
    font-size: 21px;
    font-weight: bold;
}

.false-link {
    color: var(--color-blue-text);
}

.false-link:hover {
    cursor: not-allowed;
}

.space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: inherit;
}

.summary-li {
    margin: 0.25rem;
}

.row-wrap {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

.align-center {
    align-items: center;
}

.green {
    color: var(--color-green)
}

.light-blue {
    background-color: var(--color-blue-light);
}

.main-content {
    margin-top: 1rem;
    
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

.card-column {
    flex-grow: 1;
    /* max-width: 794px; */
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card {
    background-color: white;
    padding: 1rem;
}

.item-card {
    background-color: var(--color-gray);
    
    padding: 1rem;
    margin: 0.5rem 0;
    max-width: 400px;
}

.sidebar {
    background-color: white;
    
    padding: 1rem;
    width: 390px;
    
    display: flex;
    flex-flow: column;
}

.height-auto {
    height: fit-content;
}

#photo-credit {
    color: var(--color-gray-text);
    margin: 0;
}

#status {
    margin-bottom: 0;
}

#description {
    margin: 0.5rem 0 2rem 0;
}

.btn {
    background-color: var(--color-yellow);
    border: 1px solid var(--color-yellow);
    border-radius: 1rem;
    color: black;
    
    line-height: 1rem;
    font-size: 1rem;

    padding: 0.5rem 3rem;
    width: 100%;
}

.btn:hover {
    background-color: var(--color-yellow-2);
    border: 1px solid var(--color-yellow-2);
    cursor: pointer;
}

.btn-width-auto {
    width: fit-content;
}

#restart {
    display: none;
    background-color: white;
    border: 1px solid var(--color-gray-text);
    border-radius: 1rem;
    color: black;
    
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    
    padding: 0.5rem 1rem;
    width: 100%;
    margin-top: 0.5rem;
}

#restart:hover {
    cursor: pointer;
    background-color: rgba(246, 250, 250, 1);
}

hr {
    border-style: solid;
    color: rgba(221, 221, 221, 1);
}

.mobile-hr {
    display: none;
}

#map { 
    aspect-ratio: 480/360;
	flex: 3 3 auto;
}

@media only screen and (max-width: 1200px) {
    .header,
    .footer {
        padding: 1rem;
    }
}

@media only screen and (max-width: 800px) {
	.main-content {
		flex-flow: column-reverse;
	}

    .sidebar {
        width: 100%;
        flex-flow: column-reverse;
    }

    .mobile-hr {
        display: block;
    }

    .btn-width-auto {
        width: 100%;
    }
}